:root {
  --primary-color: rgba(43, 38, 45, 1);
  --secondary-color: rgba(209, 102, 68, 1);
  --accent-color: rgba(207, 121, 86, 1);
  --bg-secondary-color: rgba(135, 143, 132, 1);
  --bg-color: rgba(207, 150, 131, 1);
}

body {
  background-color: var(--bg-color);
}

.navbar{
  background-color: var(--bg-secondary-color) !important;
  color:var(--secondary-color) !important;
}
