:root {
  --primary-color: rgba(43, 38, 45, 1);
  --secondary-color: rgba(209, 102, 68, 1);
  --accent-color: rgba(207, 121, 86, 1);
  --bg-secondary-color: rgba(135, 143, 132, 1);
  --bg-primary-color: rgb(207, 150, 131, 1);
}

body {
background-color: var(--bg-secondary-color);
font-family: josefin-sans, sans-serif;
font-weight: 400;
font-style: normal;
text-align: center;
}

h1{
font-family:gastromond, sans-serif;
font-weight: 400;
font-style: normal;
color:var(--primary-color);
}

.navbar{
background-color: var(--bg-primary-color);
}